@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}
    src: url("../BarlowCondensed.ttf");

* {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  left: 1%;
  top: 20%;
  width: 1000px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-animation-duration: 2s;
}



.chat-messages {
  position: relative;
  height: 100%;
  font-size: 1rem;
  text-shadow: 1px 1px #000000;
  width: 83%;
  overflow-x: hidden;
  overflow-y: hidden;
}


.chat-input {
  font-size: 0.9rem;
  position: absolute;
  background-color: rgba(15, 15, 15, 0.281);
  top: 43%;
  height: auto;
  left: 0.1%;
  width: 35%;
  border-radius: 3px;
  box-sizing: border-box;
}

.prefix {
  position: absolute;
  margin-top: 2px;
  left: -118px;
}

textarea {
  font-size: 0.9rem;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 8px;
  color: white;
  background-color: rgba(207, 227, 114, 0);
  width: 100%;
  border-width: 0;
  height: 20%;
  overflow: hidden;
}

textarea:focus, input:focus {
    outline: none;
}

@-webkit-keyframes animMsg {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.msg {
  margin-bottom: 1px;
  animation-name: animMsg;
  animation-duration: 3s;
}

.twitter
{
  height: 10%;
  width: 90%;
  background: #ffbb33;
  border-radius: 5px;
  color: #0000;
}

.multiline {
  margin-left: 1.5rem;
  margin-bottom: -0.4rem;
  text-indent: -1.5rem;
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  width: 0%;
}

.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 5px;
}